:root {
  /*----- main colors -----*/
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --acent-color: #2196f3;
  --owner-text-color: #757575;
  --contener-color: #eeeeee;
  --logo-color-text: #000000;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --background-section: #e5e5e5;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  /*----- main font -----*/
  --main-font: Roboto, sans-serif;
  /*----- animation -----*/
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
address {
  margin-top: 20px;
  font-style: normal;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
header {
  border-bottom: 1px solid var(--line-color);
}
.header-list {
  display: flex;
  align-items: center;
}
/* ------ logo top ------ */
.logo-top {
  padding-top: 25px;
  padding-bottom: 24px;
  color: var(--acent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-black {
  color: var(--logo-color-text);
}
.navigation {
  margin-left: 93px;
}
.nav-bar {
  gap: 46px;
  display: flex;
  font-weight: 500;
  list-style-type: none;
}
.nav-list {
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 32px 0;
  transition: color 250ms var(--cubic-bezier);
}
.link:hover,
.link:focus {
  color: var(--acent-color);
}

/* ------ hover contact top ------ */
.contact-top .link:hover,
.contact-top .link:focus {
  color: var(--acent-color);
}
/* ------ Contact top ------ */
.contact-top .link {
  color: var(--owner-text-color);
}
.contact-top {
  gap: 50px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.list-contact {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic-bezier);
}
.icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}
.current {
  position: relative;
  color: var(--acent-color);
}
.current::after {
  display: block;
  content: "";
  border-radius: 2px;
  background: var(--acent-color);
  padding: 2px;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}
/* ------ Filter ------ */
.filter {
  gap: 8px;
  justify-content: center;
  display: flex;
}
.filter-buttom {
  padding: 6px 25px 6px 25px;
  margin-right: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 0;
  background: var(--buttons-port-color);
  cursor: pointer;
  letter-spacing: 0.03em;
  list-style-type: none;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}
.filter:last-child {
  margin-right: 0px;
}
.filter-buttom:hover,
.filter-buttom:focus {
  background: var(--acent-color);
  color: var(--buttons-port-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------ Boxes ------ */
.portfolio {
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
.portfolio-h3 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio li:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-descr {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 24px;
}
.portfolio-item {
  display: block;
  transition: box-shadow 250ms var(--cubic-bezier);
}
.portfolio-item:hover .layout-box,
.portfolio-item:focus .layout-box {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.layout-text p {
  position: relative;
  overflow: hidden;
}
.layout-text {
  color: var(--buttons-port-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px 91px 24px;
}
.layout-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--cubic-bezier);
}
.layout-portfolio {
  overflow: hidden;
  position: relative;
}

/* ----- Order -----*/
.order {
  margin: 0 auto;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.order-words {
  width: 696px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.order-buttom {
  padding: 10px 41px 10px 42px;
  margin: auto;
  margin-top: 30px;
  min-width: 216px;
  font-family: Roboto;
  background-color: var(--acent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  border: 0;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: var(--buttons-port-color);
}
.modal-window {
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: linear;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.order-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  background-color: rgba(0, 0, 0, 0.2);
}
label {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.order-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 40px 40px 12px 40px;
}

input[type="text"],
[type="tel"],
[type="email"] {
  width: 448px;
  height: 40px;
}
.input-type {
  margin: 10px 0px 4px 40px;
}
.acent-link {
  color: var(--acent-color);
  text-decoration: underline;
}
.input-form {
  width: 448px;
  height: 40px;
}
.input-form::before {
  content: "";
}
/* ----- Lorem ----- */
.lorem-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttons-port-color);
  border-radius: 4px;
}
.lorem {
  color: var(--main-text-color);
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.lorem-h3 {
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.lorem-descr {
  color: var(--owner-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ----- About ----- */
.work {
  padding-top: 0px;
}
.offer-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.offer-h2 {
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.03em;
}

.offer-item {
  position: relative;
}

.offer-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background-image: linear-gradient(
    to top,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  z-index: 0;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
/* ----- Teams -----*/
.teams-h2 {
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--buttons-port-color);
}
.teams {
  gap: 30px;
  display: flex;
}
.teams-p {
  color: var(--owner-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.team-h3 {
  color: var(--main-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-descr {
  padding: 30px 0;
}
.team-social-link-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 16px;
}
.social-icon {
  fill: currentColor;
}
.social-link-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
}
.social-link-team:hover,
.social-link-team:focus {
  background: var(--acent-color);
  color: var(--buttons-port-color);
}
/* ------ Clients ------ */
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms var(--cubic-bezier);
}
.client-list {
  gap: 30px;
  display: flex;
}
.client-box {
  width: 170px;
  height: 92px;
}
.client-logo {
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--acent-color);
}
/* ------ Footer ------ */
.footer-addres-logo {
}
address {
  width: 246px;
}
.footer {
  display: flex;
  align-items: baseline;
}
.footer-bg {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-styles:last-child {
  margin-bottom: 0px;
}
.footer-address {
  transition: color 250ms var(--cubic-bezier);
  color: var(--secondary-text-color);
}
.footer-email {
  transition: color 250ms var(--cubic-bezier);
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
  transition: color 250ms var(--cubic-bezier);
  color: rgba(255, 255, 255, 0.6);
}
.footer-styles {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-logo {
  margin-bottom: 20px;
  color: var(--acent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-white {
  color: var(--secondary-text-color);
}
.footer-address:hover,
.footer-contact:hover,
.footer-email:hover,
.footer-address:focus,
.footer-contact:focus,
.footer-email:focus {
  color: var(--acent-color);
}
.footer-social {
  margin-left: 70px;
}
.footer-social-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.footer-soc-icon {
  margin: 12px 12px;
  fill: currentColor;
}
.footer-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.join-now {
  text-transform: uppercase;
  font-family: Roboto;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--acent-color);
  border-radius: 50%;
}
.footer-link {
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--buttons-port-color);
}

.news-seller-label {
  margin: 0;
  padding: 78px;
}

.input-news-seller {
  display: flex;
  flex-direction: row;
}

.join-news {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.14;
  margin-bottom: 20px;
}
.btn-join-news {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.87;
  width: 200px;
  height: 50px;
  padding: 10px 0px 10px 42px;
  background-color: var(--acent-color);
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);
}
.btn-join-news:hover,
.btn-join-news:focus {
  background: var(--acent-color);
  color: var(--buttons-port-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.news-seller-icon {
  margin: 13px 28px 13px 24px;
}

.email-news-seller {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.25;
  color: var(--secondary-text-color);
  padding: 15px 18px;
  background-color: var(--background-footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

/* -----Modal Window----- */

.modal-text {
  display: flex;
  justify-content: center;
  margin: 40px 40px 12px 40px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.17;
}

.label-names {
  font-family: Roboto;
  padding-top: 10px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1.16;
}

.input-size {
  padding: 12px 16px;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.input-size:hover,
.input-size:focus,
.feedback:hover,
.feedback:focus {
  border-color: var(--acent-color);
}

.feedback {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.btn-modal-submit {
  margin: 0px 164px 40px 164px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.87;
  width: 200px;
  height: 50px;
  padding: 10px 76px 10px 76px;
  background-color: var(--acent-color);
}

.btn-modal-submit:hover {
  box-shadow: 250ms 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-rulles {
  margin-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.check-box-mogal {
  width: 16px;
  height: 15px;
  margin: 0;
  padding-right: 4px;
}

.modal-rulles-text {
  font-family: Roboto;
  letter-spacing: 1.71;
  font-weight: 400;
}

.modal-link {
  color: var(--acent-color);
}

.first-label {
  padding-top: 0px;
}
